* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "TT Norms Regular";
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
  background-color: #eff0f3;
  min-height: 35px;
  width: 100%;
  padding: 0 25px;
}

.navbar::before {
  content: '';
  position: absolute;
  width: 130px;
  width: 110px;
  height: 100%;
  background: #FF8E3C;
  left: -10px;
  right: 0;
  z-index: 1;
  border-radius: 1   px;
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}

.navbar-logo {
  font-family: "TT Norms Bold";
  z-index: 2;
  font-size: 12px;
}



.navbar-info {
  display: flex;
  justify-content: space-between;
} 

.navbar-balance,
.navbar-energy {
  display: flex;
  align-items: center;
}

.navbar-balance span,
.navbar-energy span {
  font-family: "TT Norms Medium";
  font-size: 11px;
}

.header {
  background: url(../images/header-bcg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.welcome-text {
  color: #fff;
  z-index: 2;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
text-align: center;
padding: 60px 20px;
}
.welcome-text h3 {
  font-family: "TT Norms Bold";
  margin-bottom: 10px;
}

.welcome-text p {
  font-family: "TT Norms Medium";
  color: rgba(255, 255, 255, 0.56);
  font-size: 14px;
}

.text-center {
text-align: center;
}

.text-desc {
  font-size: 13px;
  color: #878787;
  font-family: "TT Norm Medium";
}

.text-desc span {
  color:#FF8E3C;
  font-family: "TT Norm Bold";
} 
.row {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.col-6 {
  display: flex;
  justify-content: center;
  width: 46%;
  margin: 0 2%;
}

.w-100 {
  width: 100% !important;
}

.mt {
  margin-top: 10px;
}

.mb {
  margin-bottom: 10px;
}

.main {
padding: 30px;

}

.buttons-primary,
.buttons-light {
  background-color:#FF8E3C;
  border: none;
  text-decoration: none;
  font-family: "TT Norms Bold";
  padding: 13px 24px;
  font-size: 14px;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  border-radius: 2px;
}
.buttons-primary span,
.buttons-light span {
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
  font-family: "TT Norms Medium";
}
.buttons-light {
  background-color:#EFF0F3;
}
.buttons-light span {
 color:rgba(0, 0, 0, 0.56)
}

.welcome-content {
padding-left: 50px;
margin: 50px 0;
position: relative;
}

.welcome-content h3 {
  font-family: "TT Norms Bold";
 margin-bottom: 5px;
line-height: 20px;
display: flex;
align-items: center;
color: #0D0D0D;
}
.welcome-content p {
  font-family: "TT Norms Medium";
  color:#bcbcbc;
  font-size: 14px;
  line-height: 20px;
}
.welcome-content::after {
position: absolute;
content:"";
height: 126px;
width: 126px;
background-image: url(../images/welcome-content-bac.png);
background-repeat:no-repeat;
background-size:contain;
left: -31px;
top: 30px;


}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background-color:#eff0f3;
  font-family: "TT Norms Medium";
  height: 35px;
  width: 100%;
  color:#707070;
}